body {
  font-family: "Courier New", Courier, monospace;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  .version-text {
    margin: 4px;
  }

  > * {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .snake-title {
    font-size: 5em;
    font-weight: 800;

    margin: 0;
    padding: 0;
  }

  #score {
    background-color: rgb(235, 235, 235);
    padding: 8px;
    border-radius: 8px;

    margin-top: 0px;

    min-width: 30px;
    text-align: center;
  }

  p {
    max-width: 300px;
  }
}

.game-container {
  position: relative;

  button {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 2em;
    font-family: "Courier New", Courier, monospace;

    padding-top: 8px;
    padding-bottom: 8px;

    border: 0px;

    z-index: 3;

    &:hover {
      cursor: pointer;
    }
  }
}

#game-world {
  .snake {
    position: absolute;
    background-color: rgb(161, 148, 224);
  }

  position: relative;
  background-color: rgb(240, 240, 240);

  width: 300px;
  height: 300px;

  .game-over-text {
    text-align: center;
    padding: 0;
    margin: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;
  }

  &.game-over {
    animation: animate-color 0.5s steps(2) alternate infinite;
  }
}

@media only screen and (min-width: 768px) and (min-height: 500px) {
  #game-world {
    width: 450px;
    height: 450px;
  }

  .content {
    p {
      max-width: 450px;
    }
  }
}

@media only screen and (min-width: 1028px) and (min-height: 650px) {
  #game-world {
    width: 600px;
    height: 600px;
  }

  .content {
    p {
      max-width: 600px;
    }
  }
}

html,
body {
  overscroll-behavior-y: contain;
}

/* The animation code */
@keyframes animate-color {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}
